:root {
  --blue: rgb(74, 162, 255);
  --solarized: #002b36;
  --navbar-height: calc(1.45rem + 20px);
}

#viewport {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--solarized);
}

* { box-sizing: border-box; }

.CodeMirror {
  height: 50vh;
  max-height: 50vh;
  padding-top: calc(1.45rem + 20px);
}

/* Kickstrap bug fix */
.navbar.navbar-collapse nav>ul>li.navbar-title {
  display: flex;
}
/* end */

.navbar.navbar-fixed {
  margin-bottom: 0;
}

.output_pane {
  height: 50vh;
  max-height: 50vh;
  border-top: 1px solid #EEE;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background: white;
}

.output_pane main {
  padding: 25px;
  width: 100vw;
  max-width: 100%;
  padding-bottom: var(--output_actions_height);
  height: var(--100vvh, 100vh);
  overflow: auto;
}

.output_pane main h1 {
  font-size: 1.2rem;
}

.output_pane ol li {
  margin-bottom: 10px;
  white-space: pre-line;
  white-space: break-spaces;
}

.flash { display: none; }
.flash.show {
  white-space: pre-line;
  white-space: break-spaces;
  display: block; 
  background: var(--blue);
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95vw;
  margin-left: calc(95vw/-2);
  margin-top: -50px;
  z-index: 10;
  padding: 15px;
  border-radius: 5px;
}

@media screen and (min-width: 800px) {
  :root {
    --output-size: 450px;
  }

  .panes {
    display: flex;
  }

  .CodeMirror {
    height: calc(var(--100vvh, 100vh) - var(--output_actions_height));
    width: calc(100vw - var(--output-size));
    max-height: none;
  }

  .output_pane {
    height: 100vh;
    max-height: none;
    min-width: var(--output-size);
    width: var(--output-size);
    border-top: 0;
    border-left: 1px solid #EEE;
    border-top-left-radius: 15px;
    padding-top: var(--navbar-height);
  }

  .flash.show {
    margin-left: -200px;
    width: 400px;
  }

  /* Kickstrap bug fix */
  .navbar nav>ul>li ul[role=button], .navbar nav>ul>li.navbar-title button[role=button], .navbar nav>ul>li>[role=button] {
    margin-top: -0.5rem;
    margin-bottom: -0.55rem;
    margin-right: 0;
  }
  /* end */
}


