:root {
  --output_actions_height: 100px;
  --blue: rgb(74, 162, 255);
  --solarized: #002b36;
}

#viewport {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--solarized);
}

* { box-sizing: border-box; }

.CodeMirror {
  height: 60vh;
  max-height: 60vh;
}

.output_pane {
  height: 40vh;
  max-height: 40vh;
  border-top: 1px solid #EEE;
  overflow: auto;
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  background: white;
}

.output_pane main {
  padding: 25px;
  width: 100vw;
  max-width: 100%;
  padding-bottom: var(--output_actions_height);
  height: var(--100vvh, 100vh);
  overflow: auto;
}

.output_pane ol li {
  margin-bottom: 10px;
}

.output_pane .actions {
  height: var(--output_actions_height);
  position: fixed;
  background: var(--solarized);
  bottom: var(--offset-h);
  left: 0;
  right: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.output_pane .actions ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0
}

.output_pane .actions ul li {
  width: 100%;
}

.output_pane .actions ul + ul {
  margin-top: 25px;
}

.output_pane .actions ul input[type="text"] {
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #CCC;
  background: transparent;
  color: white;
}

.output_pane aside ul a {
  text-decoration: none;
  opacity: 0.8;
  color: white;
}

.output_pane aside ul a:hover {
  opacity: 1;
}

.output_pane aside ul a#random {
  background: var(--blue);
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
}

.flash { display: none; }
.flash.show {
  display: block; 
  background: var(--blue);
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95vw;
  margin-left: calc(95vw/-2);
  margin-top: -50px;
  z-index: 10;
  padding: 15px;
  border-radius: 5px;
  font-family: Nunito;
}

@media screen and (min-width: 800px) {
  :root {
    --output-size: 33vw;
    --output_actions_height: 50px;
  }

  #viewport {
    flex-direction: row;
  }

  .CodeMirror {
    height: calc(var(--100vvh, 100vh) - var(--output_actions_height));
    width: calc(100vw - var(--output-size));
    max-height: none;
  }

  .output_pane {
    height: 100vh;
    max-height: none;
    width: 100vw;
    border-top: 0;
    border-left: 1px solid #EEE;
    border-top-left-radius: 15px;
  }

  .output_pane .actions {
    flex-direction: row;
  }

  .output_pane .actions ul + ul {
    margin: 0;
    margin-left: 100px;
    justify-content: flex-end;
  }

  .output_pane .actions ul + ul li {
    width: auto;
    margin: 0 15px;
  }

  .flash.show {
    margin-left: -200px;
    width: 400px;
  }
}


