:root {
  --output_actions_height: 50px;
  --blue: rgb(74, 162, 255);
  --blue_translucent: rgba(74, 162, 255, 0.7);
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

* { box-sizing: border-box; }

.CodeMirror {
  height: 60vh;
  max-height: 60vh;
}

.output_pane {
  height: 40vh;
  max-height: 40vh;
  border-top: 1px solid #EEE;
  overflow: auto;
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
}

.output_pane main {
  padding: 25px;
  width: 100vw;
  height: calc(100% - var(--output_actions_height));
  max-height: calc(100% - var(--output_actions_height));
  overflow: auto;
}

.output_pane aside {
  height: var(--output_actions_height);
}

.output_pane aside ul {
  width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.output_pane aside ul a {
  text-decoration: none;
  opacity: 0.8;
}

.output_pane aside ul a:hover {
  opacity: 1;
}

.output_pane aside ul a#random {
  background: var(--blue);
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
}

.flash { display: none; }
.flash.show {
  display: block; 
  background: var(--blue_translucent);
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  z-index: 1;
  padding: 15px;
  border-radius: 5px;
  font-family: Nunito;
}

@media screen and (min-width: 800px) {
  :root {
    --output-size: 350px;
  }

  body {
    flex-direction: row;
  }

  .CodeMirror {
    height: 100vh;
    width: calc(100vw - var(--output-size));
  }

  .output_pane {
    height: 100vh;
    max-height: none;
    width: 100vw;
    border-top: 0;
    border-left: 1px solid #EEE;
  }
}


